<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>BooksMate</title>
    <link rel="shortcut icon" href="../static/assets/BooksMate.ico" type="image/x-icon">
    <!-- <link href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/4.2.0/mdb.min.css" rel="stylesheet"/> -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
  </head>
  <style>
    body {
    background: #000;
    }

    h1 {
    font-size: 2.5em;
    color: #fff;
    }
  </style>
  <body>
  <div class="root">
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary sticky-top">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <!-- BooksMate -->
      <img src="../static/assets/BooksMate.png" height="25px" width="138px" alt="">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/list">Books List</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/recommend">Recommend</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="mailto:wilsonvidyut@gmail.com">Contact</a>
        </li>
      </ul>
<!--      <form class="d-flex" role="search">-->
<!--        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">-->
<!--        <button class="btn btn-outline-danger" type="submit">Search</button>-->
<!--      </form>-->
    </div>
  </div>
</nav>

      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <h1 style="margin-top: 50px;">Top 50 Books</h1>
          </div>

          {% for i in range(book_name|length) %}
          <div class="col-md-3" style="margin-top: 50px;">
            <div class="card">
                <img src="{{image[i]}}" class="card-img-top">
              <div class="card-body">
              <h6 class="card-text">{{book_name[i]}}</h6>
                <p>{{author[i]}}</p>
                <p>Votes - {{votes[i]}}</p>
                <p>Rating - {{rating[i]}}</p>
              </div>
            </div>
          </div>
          {% endfor %}


        </div>
      </div>
    </div>

    <footer class="text-center bg-primary text-white bottom-0" style=" margin-top: 25px;">
    
      <!-- Copyright -->
      <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
        © 2022 Made with ❤ by
        <a class="text-info" style="text-decoration: none;" target="_blank" href="http://wilsonvd.me/"><em><b>Wilson VD</b></em></a>
      </div>
      <!-- Copyright -->
    </footer>


    <!-- <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/4.2.0/mdb.min.js"></script> -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
  </body>
</html>